<div class="container">
    <div class="row bg-primary border">
        <div class="col-4 border text-white">Name</div>
        <div class="col-4 border text-white">Country</div>
        <div class="col-4 border text-white">Sport</div>
    </div>
    <div *ngFor="let s1 of strData">
        <div  class="row border" *ngIf="s1.sport == 'Cricket'">
            <div class="col-4 border">{{ s1.name }}</div>
            <div class="col-4 border">{{ s1.country }}</div>
            <div class="col-4 border">{{ s1.sport }}</div>
        </div>
    </div>
</div>
