<div class="row">
    <div class="col-10 border rounded">
        <h6>Language</h6>
    </div>
    <div class="col-10 border rounded" *ngFor="let l1 of languageOptions.option">
        <input
            type="radio"
            id="{{ l1.name }}"
            name="radio00"
            value="{{ l1 }}"
            checked="l1===languageOptions.isselected"
            [(ngModel)]="l1.isselected"
            (change)="emitChange()"
        />
        {{ l1.name }}
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-10 border rounded">
        <h6>Filter</h6>
    </div>
    <div class="col-10 border rounded" *ngFor="let f1 of filterBook.option">
        <input
            type="radio"
            id="{{ f1.name }}"
            name="radio001"
            value="{{ f1 }}"
            checked="f1===filterBook.isselected"
            [(ngModel)]="f1.isselected"
            (change)="emitChange1()"
        />
        {{ f1.name }}
    </div>
</div>
