<div>
    Q .{{ ques01.text1
    }}<button class="btn btn-warning m-1" (click)="edit()">Edit</button
    ><button class="btn btn-warning m-1" (click)="deleteQues()">Delete</button>
</div>
<ul type="dot">
    <li>{{ ques01.options[0] }}</li>
    <li>{{ ques01.options[1] }}</li>
    <li>{{ ques01.options[2] }}</li>
    <li>{{ ques01.options[3] }}</li>
    <li>Answer . {{ ques01.answer }}</li>
</ul>
