<div class="container-fluid">
  <div class="row">
    <div class="col-3 border bg-light">
      <app-picviewer [namesRadio]="namesRadioStructure" (optSel)="optChange($event)"></app-picviewer>
    </div>
    <div class="col-9 border"> Hello !! <br>
      Name selected : {{ nameRadioSelected }}
    </div>
  </div>
</div>
