<h5 class="text-center">Final</h5>
<hr>
<div class="" *ngFor="let item of bestSellerOptions"><br><br><br>
    <input
        type="checkbox"
        id="{{ item.refineValue }}"
        value="item.isSelected"
        [(ngModel)]="item.isSelected"
        (change)="emitChange()"
    />
    {{ item.name}}<br /><br><br>
</div>
