<div class="container">
    <div class="row">
        <div class="col-2 border">
            <app-leftpanel
                [bestSellerOptions]="bestSellerOptions"
                [languageOptions]="languageOptions"
                (optSel1)="optChange(i)"
                (optSel2)="optChange1(i)"
            ></app-leftpanel>
        </div>
        <div class="col-10 border">
            <h6> {{lowLimit}} to {{higherLimit}} of {{strData.pageInfo.totalItemCount}}</h6>
            <div class="row text-center bg-primary border">
                <div class="col-3 border text-white">Title</div>
                <div class="col-3 border text-white">Author</div>
                <div class="col-2 border text-white">Language</div>
                <div class="col-2 border text-white">Genre</div>
                <div class="col-1 border text-white">Price</div>
                <div class="col-1 border text-white">Bes...</div>
            </div>
            <div class="row border" *ngFor="let s1 of strData.data">
                <div class="col-3 border">{{ s1.name }}</div>
                <div class="col-3 border">{{ s1.author }}</div>
                <div class="col-2 border">{{ s1.language }}</div>
                <div class="col-2 border">{{ s1.genre }}</div>
                <div class="col-1 border">{{ s1.price }}</div>
                <div class="col-1 border">{{ s1.bestseller }}</div>
            </div>
            <div class="row">
                <div
                    *ngIf="num > 1"
                    class="col-6 text-left"
                >
                    <button
                        class="btn btn-primary"
                        (click)="goto(-1)"
                    >
                        Previous
                    </button>
                </div>
                <div
                    *ngIf="num < (strData.pageInfo.totalItemCount%10)"
                    class="col-6 text-right"
                >
                    <button
                        class="btn btn-primary"
                        (click)="goto(1)"
                    >
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
