<div *ngIf="flag1 === true">
    <div class="text-center" *ngIf="flag === true">
        <img
            style="height: 200px; width: 350px; margin: 5% auto; border-radius: 60%; background-position: center;"
            src="assets/images/BOOKS.jpg"
        />
    </div>
    <div class="text-center">
        <input type="search" placeholder="Search" [(ngModel)]="search1" />
        <button
            class="btn btn-primary m-4"
            (click)="searchOpt()"
            routerLink="/books"
            routerLinkActive="true"
            [queryParams]="{ q: search1, maxResults: 8, startIndex: 1 }"
        >
            search
        </button>
    </div>
</div>
