Players
<div *ngFor="let item of playersCB" >
    <input
        type="checkbox"
        id="{{ item.name }}"
        value="item.selected"
        [(ngModel)]="item.selected"
        (change)="emitChange()"
    />{{ item.name }}
</div>
Sports
<div *ngFor="let item of sportsRadio.sports">
    <input
        type="radio"
        id="{{ item }}"
        name="radio001"
        value="{{ item }}"
        checked="item === sportsRadio.selected"
        [(ngModel)]="sportsRadio.selected"
        (change)="emitChange()"
    />
    {{ item }}
</div>
