<div class="container">
    
    <div *ngIf="strData">
        <div class="row">
            <div class="col-3">
                <app-filterbook
                    [languageOptions]="language"
                    [filterBook]="filter1"
                    (optSel)="optChange($event)"
                    (optSel1)="optChange1($event)"
                ></app-filterbook>
            </div>
            <div class="col-9">
                <h4 class="text-center text-warning">All Books</h4>
                <br />
                <div class="row">
                    <div
                        class="col-3 border bg-success text-center"
                        *ngFor="let book of strData"
                    >
                        <img
                            src="{{
                                book.volumeInfo.imageLinks.smallThumbnail
                            }}"
                            style="height: 150px; width: 100px;"
                        /><br />
                        <h5>{{ book.volumeInfo.title }}</h5>
                        <h6>{{ book.volumeInfo.authors }}</h6>
                        {{ book.volumeInfo.categories }}
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="min > 1" class="col-6 text-left">
                        <button class="btn btn-primary" (click)="goto(-1)">
                            Previous
                        </button>
                    </div>
                    <div
                        *ngIf="num < 200"
                        class="col-6 text-right"
                    >
                        <button class="btn btn-primary" (click)="goto(1)">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
