<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-teamoption
                [playersCB]="playersStructure"
                [sportsRadio]="sportsStructure"
                (optSel)="optChange($event)"
            ></app-teamoption>
        </div>
        <div class="col-9">
            Hello Team Details<br />
            Name: Team ABC{{ team }}<br />
            Players: Virat, Roger{{ players }}<br />
            Sports: Cricket{{ sport }}<br />
            Page: 2{{ page }}<br />
            <div class="row">
                <div class="col-6 text-left">
                    <button
                        *ngIf="currPage > 1"
                        class="btn-primary"
                        (click)="gotoPage(-1)"
                    >
                        Previous
                    </button>
                </div>
                <div class="col-6 text-right">
                    <button
                        *ngIf="currPage < maxPage"
                        class="btn-primary"
                        (click)="gotoPage(1)"
                    >
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
