<div class="container-fluid">
  <h1 class="text-center"><u>Taekwondo Championship</u></h1>
  <div class="row">
    <div class="col-2 m-2 border"><app-leftroundone
      [bestSellerOptions]="strdata"
      (optSel1)="change1()"></app-leftroundone></div>


    <div class="col-2 m-2 border"><app-leftroundtwo
    [bestSellerOptions]="strdata2"
      (optSel1)="change2()"></app-leftroundtwo></div>


    <div class="col-2 m-2 border"><app-leftroundthree
      [bestSellerOptions]="strdata3"
      (optSel1)="change3()"></app-leftroundthree></div>


    <div class="col-2 m-2 border"><app-leftroundfour
      [bestSellerOptions]="strdata4"
      (optSel1)="change4()"></app-leftroundfour></div>


    <div class="col-2 m-2 border"><app-leftroundfive
      [bestSellerOptions]="strdata5"
      (optSel1)="change5()"></app-leftroundfive></div>
  </div>
</div>
