<h5>Option</h5>
<hr />
<h5>Bestseller</h5>
<div *ngFor="let item of bestSellerOptions">
    <input
        type="checkbox"
        id="{{ item.refineValue }}"
        value="item.isSelected"
        [(ngModel)]="item.isSelected"
        (change)="emitChange()"
    />
    {{ item.name.refineValue }}({{ item.name.totalNum }})<br />
</div>

<hr />
<h5>Language</h5>

<div *ngFor="let item of languageOptions">
    <input
        type="checkbox"
        id="{{ item.refineValue }}"
        value="item.selected"
        [(ngModel)]="item.isSelected"
        (change)="emitChange1()"
    />
    {{ item.name.refineValue }}({{ item.name.totalNum }})<br />
</div>
