<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BookSite</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/home"
                    routerLinkActive="active" [queryParams]={newArri:yes}
                    >New Arrivals</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/home"
                    routerLinkActive="active"
                    >Books by Genre</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/home"
                    routerLinkActive="active"
                    >All Books</a
                >
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>