<h5 class="text-center">Semi-Finals</h5>
<hr>
<div class="" *ngFor="let item of bestSellerOptions"><br><br>
  <input
    type="checkbox"
    id="{{ item.refineValue }}"
    value="item.isSelected"
    [(ngModel)]="item.isSelected"
    (change)="emitChange()"
  />
  {{ item.name }}<br /><br>
</div>
