<div>
    {{ ques1.text1 }}
    <br />
    <ol type="A" >
        <li class="move" (click)="selOpt()">{{ ques1.options[0] }}</li>
        <li class="move" (click)="selOpt()">{{ ques1.options[1] }}</li>
        <li class="move" (click)="selOpt()">{{ ques1.options[2] }}</li>
        <li class="move" (click)="selOpt()">{{ ques1.options[3] }}</li>
    </ol>
</div>
