<h5 class="text-center">8th Finals</h5>
<hr>
<div class="border" *ngFor="let item of bestSellerOptions">
    <input
        type="checkbox"
        id="{{ item.refineValue }}"
        value="item.isSelected"
        [(ngModel)]="item.isSelected"
        (change)="emitChange()"
    />
    {{ item.name}}<br />
</div>
