<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a
                    class="nav-link text-dark dropdown-toggle"
                    id="navbarDropdown"
                    data-toggle="dropdown"
                    routerLink="/books"
                    routerLinkActive="active"
                    ><i class="fa fa-book" style="font-size:36px"></i>
                    Options</a
                >
                <div class="dropdown-menu">
                    <a
                        class="dropdown-item"
                        routerLink="/books"
                        routerLinkActive="true"
                        [queryParams]="{
                            q: 'harry',
                            maxResults: 8,
                            startIndex: 1
                        }"
                        >Harry potter books</a
                    >
                    <a
                        class="dropdown-item"
                        routerLink="/books"
                        routerLinkActive="true"
                        [queryParams]="{
                            q: 'books by agatha christie',
                            maxResults: 8,
                            startIndex: 1
                        }"
                        >Books by agatha christie</a
                    >
                    <a
                        class="dropdown-item"
                        routerLink="/books"
                        routerLinkActive="true"
                        [queryParams]="{
                            q: 'books by premchand',
                            maxResults: 8,
                            startIndex: 1
                        }"
                        >Books by premchand</a
                    >
                    <a
                        class="dropdown-item"
                        routerLink="/books"
                        routerLinkActive="true"
                        [queryParams]="{
                            q: 'love stories by jane',
                            maxResults: 8,
                            startIndex: 1
                        }"
                        >Love stories by jane</a
                    >
                    <a
                        class="dropdown-item"
                        routerLink="/books"
                        routerLinkActive="true"
                        [queryParams]="{
                            q: 'biography on lincoin',
                            maxResults: 8,
                            startIndex: 1
                        }"
                        >Biography on Lincoin</a
                    >
                </div>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
