<h5 class="text-center">Quarter Finals</h5>
<hr />
<div class="" *ngFor="let item of bestSellerOptions">
  <br />
  <input
    type="checkbox"
    id="{{ item.refineValue }}"
    value="item.isSelected"
    [(ngModel)]="item.isSelected"
    (change)="emitChange()"
  />
  {{ item.name }}<br />
</div>
