<div>
    <h6>Code : {{ prod.code }}</h6>
    Brand : {{ prod.brand }}<br />
    Category : {{ prod.category }}<br />
    Price : {{ prod.price }}<br />
    Quantity : {{ prod.quantity }}<br />
    Offer : {{ prod.specialOffer }}<br />
    Limited Stock : {{ prod.limitedStock }}<br />
    <button class="btn-warning" (click)="editProd()">Edit Details</button>
</div>
