<div class="container">
    <div class="row text-center bg-primary border">
        <div class="col-4 border text-white">Title</div>
        <div class="col-4 border text-white">Author</div>
        <div class="col-1 border text-white">Language</div>
        <div class="col-1 border text-white">Genre</div>
        <div class="col-1 border text-white">Price</div>
        <div class="col-1 border text-white">Bestseller</div>
    </div>
    <div class="row border" *ngFor="let s1 of strData.data">
        <div class="col-4 border">{{ s1.name }}</div>
        <div class="col-4 border">{{ s1.author }}</div>
        <div class="col-1 border">{{ s1.language }}</div>
        <div class="col-1 border">{{ s1.genre }}</div>
        <div class="col-1 border">{{ s1.price }}</div>
        <div class="col-1 border">{{ s1.bestseller }}</div>
    </div>
</div>
